In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../World_Weather_Analysis/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2022-02-02 14:25:38,-0.6000,73.0833,82.65,70,30,6.69
1,1,Ancud,CL,2022-02-02 14:25:38,-41.8697,-73.8203,64.22,83,100,2.26
2,2,Mataura,NZ,2022-02-02 14:25:38,-46.1927,168.8643,58.98,99,100,5.01
3,3,Hami,CN,2022-02-02 14:25:39,42.8000,93.4500,24.21,30,91,3.11
4,4,Nago,JP,2022-02-02 14:25:39,26.5881,127.9761,66.27,87,100,8.32

In [5]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2022-02-02 14:25:38,-0.6000,73.0833,82.65,70,30,6.69
6,6,Bredasdorp,ZA,2022-02-02 14:25:40,-34.5322,20.0403,83.52,48,46,17.27
16,16,Busselton,AU,2022-02-02 14:25:43,-33.6500,115.3333,77.04,33,99,13.20
17,17,Hermanus,ZA,2022-02-02 14:25:43,-34.4187,19.2345,78.80,70,28,24.58
18,18,Avarua,CK,2022-02-02 14:25:34,-21.2078,-159.7750,77.05,94,75,9.22
20,20,Tual,ID,2022-02-02 14:25:44,-5.6667,132.7500,83.55,68,100,3.65
21,21,Fare,PF,2022-02-02 14:25:44,-16.7000,-151.0167,80.64,74,37,17.20
22,22,Pangobilian,PH,2022-02-02 14:25:45,8.8011,117.8594,79.02,87,57,13.38
23,23,Kutum,SD,2022-02-02 14:25:45,14.2000,24.6667,84.97,12,0,17.65
25,25,Georgetown,MY,2022-02-02 14:25:45,5.4112,100.3354,82.33,86,20,0.00

In [19]:
preferred_cities_df.count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0     Hithadhoo      MV     82.65  -0.6000   73.0833
6    Bredasdorp      ZA     83.52 -34.5322   20.0403
16    Busselton      AU     77.04 -33.6500  115.3333
17     Hermanus      ZA     78.80 -34.4187   19.2345
18       Avarua      CK     77.05 -21.2078 -159.7750
20         Tual      ID     83.55  -5.6667  132.7500
21         Fare      PF     80.64 -16.7000 -151.0167
22  Pangobilian      PH     79.02   8.8011  117.8594
23        Kutum      SD     84.97  14.2000   24.6667
25   Georgetown      MY     82.33   5.4112  100.3354

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hithadhoo,MV,82.65,-0.6000,73.0833,Scoop Guest House
6,Bredasdorp,ZA,83.52,-34.5322,20.0403,Bredasdorp Country Manor
16,Busselton,AU,77.04,-33.6500,115.3333,Observatory Guest House
17,Hermanus,ZA,78.80,-34.4187,19.2345,Misty Waves Boutique Hotel
18,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
20,Tual,ID,83.55,-5.6667,132.7500,Grand Vilia Hotel
21,Fare,PF,80.64,-16.7000,-151.0167,Maitai Lapita Village Huahine
22,Pangobilian,PH,79.02,8.8011,117.8594,Sir Brooke's Resort
23,Kutum,SD,84.97,14.2000,24.6667,Dibbo areaمنطقة دبو
25,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))