## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Kostyantynivka,UA,33.04,light snow,48.5277,37.7069,Мотель
1,9,Bethel,US,41.23,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
2,11,Te Anau,NZ,49.73,light rain,-45.4167,167.7167,Kingsgate Hotel Te Anau
3,26,Kodiak,US,38.71,moderate rain,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
4,28,Nanortalik,GL,30.42,snow,60.1432,-45.2371,Hotel Kap Farvel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
  
vacation_start = vacation_df.loc[vacation_df["City"]=="Bethel"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Bethel"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Newark"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Freeport"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Westport"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0,(5,6)]
end = vacation_end.to_numpy()[0,(5,6)]
stop1 = vacation_stop1.to_numpy()[0,(5,6)]
stop2 = vacation_stop2.to_numpy()[0,(5,6)]
stop3 = vacation_stop3.to_numpy()[0,(5,6)]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(41, -74.0), zoom_level=9)
us_vacation = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(us_vacation)

# Call map figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Bethel,US,41.23,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
1,9,Bethel,US,41.23,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
2,419,Newark,US,43.45,light rain,40.7357,-74.1724,Best Western Plus Robert Treat Hotel
3,373,Freeport,US,43.38,light rain,40.6576,-73.5832,The Freeport Inn and Marina
4,88,Westport,US,42.58,light rain,41.1415,-73.3579,The Westport Inn

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(41, -74.0), zoom_level=9)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))